body {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(45deg, #A9F1DF , #FFBBBB);
}

button {
    transition: background-color 0.46s ease;
    border-radius: 10px;
}

.container {
    text-align: center;
    font-weight: bold;
}

#begin:hover {
    background-color: #3AC57E;
    color: white;
    font-weight: bold;
}

#terminate:hover {
    background-color: #CA3560;
    color: white;
    font-weight: bold;
}

#packet-list {
    background-color: grey;
    display: flex;
    border-radius: 35px;
    width: 700px;
    margin: auto;
    height: 400px;
    justify-content: center;
}

#packet-instance {
    background-color: #806798;
    height: 50px;
    border-color: black;
    border-radius: 50px;
}